
.product-details {
  font-family: "Playwrite DK Uloopet", cursive;
    margin-top: 20px;
    padding: 20px;
    background: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(15, 9, 9, 0.1);
  }
  
  .product-details img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(16, 10, 10, 0.906);
    height: 400px;
    width: 100%;
    object-fit: cover;
  }
  
  .product-details-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(5, 10, 20, 0.836);
  }
  
  .product-details-info h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #1870c8;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .product-details-info h6 {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #495057;
  }
  
  .product-details-info hr {
    margin: 20px 0;
  }
  
  .product-details-info .btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #227fdd;
    color: #ffffff;
    transition: background-color 0.3s ease;
  }
  
  .product-details-info .btn:hover {
    background-color: #495057;
    color: #ffffff;
  }
  
  
  .similar-products {
    margin-top: 40px;
    padding: 20px;
  }
  
  .similar-products h4 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #343a40;
  }
  
  .similar-products .card {
    width: 18rem;
    margin: 10px;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .similar-products .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  }
  
  .similar-products .card img {
    height: 200px;
    object-fit: cover;
  }
  
  .similar-products .card-body {
    padding: 15px;
    background: #ffffff;
    text-align: center;
  }
  
  .similar-products .card-name-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .similar-products .card-title {
    font-size: 1.2rem;
    font-weight: 500;
    color: #343a40;
  }
  
  .similar-products .card-price {
    color: #4caf50;
    font-weight: 600;
  }
  
  .similar-products .btn {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .similar-products .btn-info {
    background-color: #17a2b8;
    border: none;
    color: #ffffff;
  }
  
  .similar-products .btn-info:hover {
    background-color: #138496;
  }
  
  .similar-products .btn-dark {
    background-color: #343a40;
    border: none;
    color: #ffffff;
  }
  
  .similar-products .btn-dark:hover {
    background-color: #23272b;
  }
  